{% extends '::admin/layoutAdmin.html.twig' %}

{% block bodyAdmin %}
    <h1>Produit edit</h1>

    {{ form_start(edit_form) }}
    <div class="offset1">
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit"/>
    </div>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_produits_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
