{% extends '::admin/layoutAdmin.html.twig' %}

{% block bodyAdmin %}
    <h1>Page edit</h1>
    <br/>

    {{ form_start(edit_form) }}
    <div class="span8">
        {{ form_widget(edit_form) }}
    </div>
    <div class="form-span12">
        <input type="submit" value="Edit" class="btn btn-primary span3"/>
    </div>
    {{ form_end(edit_form) }}


    <div class="span12">
    <ul>
        <li>
            <a href="{{ path('admin_pages_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>

{% endblock %}
