{% extends '::admin/layoutAdmin.html.twig' %}

{% block bodyAdmin %}
    <h1>Page edit</h1>
    <br/>

    {{ form_start(edit_form) }}
    <div class="form-group">
        {# Génération du label. #}

        {{ form_label(edit_form.titre, "Titre de la page", {'label_attr': {'class': ''}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(edit_form.titre) }}


        {{ form_widget(edit_form.titre, {'attr': {'class': ''}}) }}


    </div>
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(edit_form.contenu, "Contenu ", {'label_attr': {'class':''}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(edit_form.contenu) }}


        <div class="span8">
            {{ form_widget(edit_form.contenu, {'attr': {'rows': '10'}}) }}
        </div>


    </div>
    <div class="form-group">
        <div class="span2"></div>
        <input type="submit" value="Edit" class="btn btn-primary span3"/>
    </div>


    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_pages_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-primary">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
