{% extends '::admin/layoutAdmin.html.twig' %}

{% block bodyAdmin %}

    <h1>Créer une page </h1>
    <br/>
    <br/>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.titre, "Titre de la page", {'label_attr': {'class': ''}}) }}
        {{ form_errors(form.titre) }}
        {{ form_widget(form.titre, {'attr': {'class': ''}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.contenu, "Contenu ", {'label_attr': {'class':''}}) }}
        {{ form_errors(form.contenu) }}
        <div class="span8">
            {{ form_widget(form.contenu, {'attr': {'rows': '10'}}) }}
        </div>

    </div>
    <div class="form-group">
        <div class="span2"></div>
        <input type="submit" value="Create" class="btn btn-primary span3"/>
    </div>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_pages_index') }}">Back to the list</a>
        </li>

    </ul>


{% endblock %}
