<hr />

<footer id="footer" class="vspace20">
	<div class="container">

		<div class="row">
			<div class="span4 offset1">
				<h4>Informations</h4>
				<ul class="nav nav-stacked">
					{{ render(controller('BenPagesBundle:Default:menu',{ 'max': 3 } )) }}
				</ul>
			</div>

			<div class="span4">
				<h4>Notre entrepôt</h4>
				<p><i class="icon-map-marker"></i>&nbsp;{{ adresse }}</p>
				<p><i class="icon-phone"></i>&nbsp; {{ telephone }}</p>
				<p><i class="icon-print"></i>&nbsp; {{ fax }}</p>

			</div>

			<div class="span2">
				<h4>Nous contacter</h4>
				<p><i class="icon-sitemap"></i>&nbsp; <a href="{{ path('pages_contact') }}">Page Contact</a></p>
				<p><i class="icon-mail-forward"></i>&nbsp; {{ email }}</p>

			</div>
		</div>
		<hr />
		<div class="row">
			<div class="span12">
				<p><a href="{{ path('page_produits') }}"> Ecommerce {{ titre }} </a> &copy; Copyright {{ "NOW" | date('Y') }}   -  Design and Developed by <a href="http://brportfolio.pe.hu">brportfolio</a>.  All Rights Reserved. </p>
			</div>
		</div>

	</div>
</footer>