<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Mon compte</li>
        <li><a href="{{ path('fos_user_profile_show') }}">Mes informations</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a></li>
        <li><a href="{{ path('fos_user_change_password') }}">Changer mot passe</a></li>
        <li><a href="{{ path('page_factures') }}">Mes factures</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
    </ul>
</div>
