{% extends '::admin/layoutAdmin.html.twig' %}

{% block bodyAdmin %}

    <h1>List des adresses  </h1>
    <h4>Utilisateur : {{ utilisateur.username }}</h4>

    {% for adresse in utilisateur.adresses %}
            <div class="span4">
                <h4>Adresse {{ loop.index }} :</h4>
                {{ adresse.prenom }} {{ adresse.nom }}
                <br />{{ adresse.adresse }},
                <br />{{ adresse.cp }} {{ adresse.ville }}
                <br />{{ adresse.pays }}
                <br /><br />
            </div>

    {% endfor %}

{% endblock %}