{% extends '::default/layoutDefault.html.twig' %}

{% block bodyDefault %}
    <div class="span9">

        <h2><a href="{{ path('page_livraison') }}">Livraison</a> </h2>

        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                {% if utilisateur.adresses|length != 0  %}
                    <div class="span4">
                        <form action="{{ path('page_validation') }}" method="post">
                            <h4>{{ 'title.delivery_address'|trans }}</h4>

                            {% for ad in utilisateur.adresses %}
                                <label class="radio">
                                    <input type="radio" name="livraison" value="{{ ad.id }}" checked="">
                                    {{ ad.adresse}} , {{ ad.cp}} {{ ad.ville}} <a href="{{ path('page_supprimerAdresse',{'id':ad.id}) }}"><i class="icon-trash"></i></a>
                                </label>

                            {% endfor %}

                            <br /><br />

                            <h4>{{ 'title.billing_address'|trans }}</h4>

                            {% for ad in utilisateur.adresses %}
                                <label class="radio">
                                    <input type="radio" name="facturation" value="{{ ad.id }}" checked="">
                                    {{ ad.adresse}} , {{ ad.cp}} {{ ad.ville}} <a href="{{ path('page_supprimerAdresse',{'id':ad.id}) }}"><i class="icon-trash"></i></a>
                                </label>

                            {% endfor %}
                            <br /><br />
                            <button class="btn btn-primary">Valider mes adresses</button>
                        </form>
                    </div>
                {% else %}

                    <div class="span4">
                        <h4> Aucun adresse !! </h4>
                        <p> Vous avez aucun adresse de laivraison ! merci de remplir le formulaire</p>
                        <a href="{{ path('page_panier') }}" class="btn btn-primary">Retour panier</a>
                    </div>
                {% endif %}

                <div class="span4">
                    <h4>{{ 'title.add_address'|trans }}</h4>

                    <div class="contact-form">
                        {{ form_start(form) }}
                        <label>Nom :</label>
                        <div class="form-group">

                            {{ form_widget(form.nom) }}
                        </div>

                        <label>Prénom :</label>
                        <div class="form-group">
                            {{ form_widget(form.prenom) }}
                        </div>

                        <label>Téléphone :</label>
                        <div class="form-group">
                            {{ form_widget(form.telephone) }}
                        </div>

                        <label>Adresse :</label>
                        <div class="form-group">
                            {{ form_widget(form.adresse) }}
                        </div>

                        <label>Complément :</label>
                        <div class="form-group">
                            {{ form_widget(form.complement) }}
                        </div>

                        <label>Code postale :</label>
                        <div class="form-group">
                            {{ form_widget(form.cp) }}
                        </div>
                        <label>Ville :</label>
                        <div class="form-group">
                            {{ form_widget(form.ville) }}
                        </div>

                        <label>Pays :</label>
                        <div class="form-group">
                            {{ form_widget(form.pays) }}
                        </div>

                        <div id="submit">
                            <input type="submit" class="btn btn-primary" value="Ajouter">
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}